<div id="svg-cover">
</div>

<button class="btn btn-large" id='svg-start'>Start Scan Simulation</button>

<button class="btn btn-large" id='svg-again'>Simulate Scans Again?</button>

<svg id="svg">
</svg>