<div class='row-fluid push-from-top'>
  <div class='span2'>
    <img src="assets/eldoorado.png" id="logo" />
  </div>
  <div class='span10'>
    <h1 id="title">Eldoorado</h1>
    <h5>Eldoorado is a data visualization system for the <a href="http://www.github.com/gschorkopf/eldoorado" target="_blank">Eldoorado API</a>, using the <a href="http://www.github.com/gschorkopf/eldoorado_gem" target="_blank">Eldoorado Ruby wrapper</a>.</h5>
    <p>The app takes a raw txt feed from the <a href="http://www.galvanize.it" target="_blank">Galvanize</a> space hard drive and recreates a time lapsed map of entry patterns using <a href="http://d3js.org/" target="_blank">D3j3</a>.</p>
  </div>
</div>