<div class="container">
  <div class='row-fluid push-from-top'>
    <div class='span2'>
      <img src="assets/eldoorado.png" id="logo" />
    </div>
    <div class='span10'>
      <h1 id="title">Eldoorado</h1>
      <p>Put helpful stuff here!</p>
    </div>
  </div>

  <%= render "shared/search_bar" %>

  <% if @badge_scans.empty? %>
  <p>
  Put helpful stuff here!
  </p>
</div>
  <% else %>
</div>

<div class="map-container">
  <div class="map-row">
    <div class="pull-left" id="svg-graph">
      <%= render "svg_section" %>
    </div>

    <div class="pull-right" id="svg-table">
      <%= render "recent_badge_scan_box", scan: @badge_scans.reverse.first %>
      <%= render "recent_badge_scans_table", scans: @badge_scans[0..10] %>
    </div>

  </div>
</div>
<% end %>