<div class="row-fluid">
  <div class="span12">
  <%= form_tag "/search", :method => "get" do %>
    <% label_tag(:q) %>
    <%= text_field_tag :q, nil %>
    <%= submit_tag("Search") %>
  <% end %>
  </div>
</div>