<h1></h1>

<div class="row-fluid">
  <div class="span12">
  <%= form_tag "/search", :method => "get" do %>
    <% label_tag(:q) %>
    <%= text_field_tag :q, nil, placeholder: "Use GQL", class: 'span12', autocomplete: "off" %>
  <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    For example, try:
    <ul>
      <li>first_name=geoff AND last_name=schorkopf</li>
      <li>last_name=casimir OR company=gschool</li>
      <li>door=atrium AND company=roximity</li>
    </ul>
  </div>
</div>